<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤ屋にGOや！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where not (give_for = '自家消費');") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]} ゴーヤの大きさ：#{record["weight"]} ゴーヤの状態：#{record["quality"]} 売った相手：#{record["give_for"]} 売却日：#{record["date"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
      <p>下記のボタンを押すと、自家消費以外のゴーヤの情報ページに飛びます</p><br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

       <% result = connection.exec("select * from crops where (quality = 'False');") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤの長さ：#{record["length"]} ゴーヤの大きさ：#{record["weight"]} ゴーヤの状態：#{record["quality"]} 売った相手：#{record["give_for"]} 売却日：#{record["date"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
      <p>下記のボタンを押すと、品質が悪いゴーヤの情報ページに飛びます<p><br><br>
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>